@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt');
        #logo {
            position: relative;
            width: 10em;
            margin-left: 15px;
        }
        img {
            max-width: 100%;
        }
        
        #content {
            width: 80%;
            max-width: 960px;
            margin: 0 auto;
            padding: 10px;
        }
/* Links horizontal:inline-block, flex, float
//space on links: margin, flex
//Remove bullets
//Move nav bar under the logo
*/      nav {
            background-color: #E6E6E6;
        }
    
        nav > ul{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
            padding-left: 12em;
            margin-top: -4.2em;
            line-height: 2.5em;
        }
        
        nav li{
            flex: 1 0 3em;
        }
        nav a:link, nav a:visited {
            color: #486483;
            text-decoration: none;
            font-size: 1.2em;
        }
        nav a:hover{
            color: #FFA400;
            text-decoration: bold;
        }
        nav a:active{
            color: #fff;
            background-color: #356DAF;
        }
 
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #6495ED;
            font-family: "Rock Salt", "Palatino Linotype", serif;
            line-height: 1.2;
            margin-bottom: .2em;
            margin-top: .5em;
        }
        
        body {
            font-family: Arial, serif;
        }
        
        #section2 {
            background: #FFBA3D;
        }
        
        #bottom-section {
            text-align: center;
            width: 70%;
            margin: 0 auto;
        }
        
        #section1,
        #section2,
        #bottom-section {
            padding: 10px;
            display: flex;
        }
        
        .leftcol, .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }
        
        p {
            line-height: 1.5;
            font-size: 1.1em;
        }
        
        #banner img {
            resize: 100%; 
            align-items: center;
        }